{{define "main"}}
<div class="_screen-h _flex _flex-col">
  <nav class="nahw-nav _h-1 _pt-8 _pb-8 _w-1/2 _mx-center">
    <a href="/text"><img src="/static/icons/x-circle.svg" alt="close"></a>
    <progress-bar data-value="0"></progress-bar>
  </nav>
  <div class="sentence-question">
    <p class="text">{{.Sentence.Unpointed true}}</p>
    <div class="cards">
      <nahw-card>{{}}
    </div>
  </div>
  <footer class="nahw-footer">
    <a href="#"><button class="nahw-button">Skip</button></a>
    <a href="#"><button class="nahw-button -inactive">Select</button></a>
  </footer>
</div>
{{end}}