{{define "main"}}
<div class="_screen-h _flex _flex-col">
  <div class="_flex _flex-row _h-8 _pt-8 _w-1/2 _mx-center">
    <progress-bar class="_w-full" data-value="0"></progress-bar>
  </div>
  <div class="nahw-para">
    عن أمير المؤمنين عمر بن الخطاب قال: سمعت رسول الله يقول: إنما الأعمال بالنيات، وإنما لكل امرئ ما نوى، فمن كانت هجرته إلى الله ورسوله فهجرته إلى الله ورسوله، ومن كانت هجرته لدنيا يصيبها، أو امرة ينكحها، فهجرته إلى ما هاجر إليه. رواه البخاري ومسلم.
  </div>
  <footer class="nahw-footer">
    <button class="nahw-button">Return</button>
    <button class="nahw-button -primary">Start</button>
  </footer>
</div>
{{end}}
