{{define "main" -}}
	{{- range .Questions -}}
	<div class="cards">
		{{- /* TODO(Amr Ojjeh): Change 0 -> actual index */ -}}
		<a class="card small" href="/text/0">
			<h1 class="card-title" lang="ar">{{.Name}}</h1>
		</a>
	</div>
	{{- end -}}
{{end -}}
