{{define "main" -}}
	{{- range .Questions -}}
	<div class="cards">
		<a class="card small secondary-bg" href="/text/0/0">
			<h1 class="card-title" lang="ar">{{.Name}}</h1>
		</a>
	</div>
	{{- end -}}
{{end -}}
