/* Reset CSS (basically) */
:root {
    --background: #fff5eb;
    --primary: #9A3433;
    --secondary: #525B32;
    --accent: #c0a375;
    --text: #474747;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: Roboto, Helvetica, "Noto Sans Arabic", sans-serif;
}

#error {
    color: red;
    font-weight: 800;
    font-size: 2rem;
}

.primary-bg {
    background-color: var(--primary);
    color: var(--background);
}

.secondary-bg {
    background-color: var(--secondary);
    color: var(--background);
}


#lesson-banner {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: var(--accent);
    color: var(--background);
}

/* =============== */
/*     CARDS       */
/* =============== */

.cards {
    display: flex;
    margin: 2rem;
    flex-wrap: wrap;
}

.card {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    text-decoration: none;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.card.big {
    height: 35rem;
    width: 25rem;
}

.card.small {
    height: 4rem;
    width: 10rem;
}

.card:hover {
    box-shadow: -10px 10px 10px 3px var(--accent);
    top: -3px;
    left: 3px;
}

.card img {
    object-fit: none;
    object-position: center;
    width: inherit;
    height: 70%;
    margin: 0;
    padding: 0;
}

.card-container {
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-title-type-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.card-type {
    color: var(--accent);
    font-size: 1.4rem;
}

.small h1 {
    margin-left: 1rem;
}

/* =============== */
/*      NAHW       */
/* =============== */

.nahw-full-text {
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    direction: rtl;
    user-select: none;
}

.nahw-full-text-sentence {
    color: var(--text);
    transition: color .2s, background-color .2s;
    padding-right: .2em;
    padding-left: .2em;
    display: inline-block;
}

.nahw-full-text-sentence:hover {
    color: var(--background);
    background-color: var(--text);
    cursor: pointer;
}

.nahw-top-bar {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}

.nahw-top-bar-page {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    display: block;
    margin-left: .5rem;
    margin-right: .5rem;
    background-color: var(--background);
    transition: background-color .2s;
}

.nahw-top-bar-page:hover {
    background-color: var(--primary);
}

.nahw-top-bar-square {
    border: 1px solid var(--text);
}

.nahw-top-bar-circle {
    border: 1px solid var(--text);
    border-radius: 100%;
}

.nahw-top-bar-fill {
    background-color: var(--text);
}

.nahw-actions-container {
    display: flex;
    margin: 0 auto;
    width: 15%;
    justify-content: space-between;
}

.nahw-next {
    width: 7rem;
    height: 6rem;
    background-color: var(--secondary);
    color: var(--background);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nahw-submit {
    width: 7rem;
    height: 6rem;
    background-color: var(--secondary);
    color: var(--background);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nahw-back {
    width: 7rem;
    height: 6rem;
    background-color: var(--secondary);
    color: var(--background);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

