@layer util {
  ._flex-col {
  	flex-direction: column;
  }

  ._flex-row-reverse {
  	flex-direction: row-reverse;
  }

  ._flex-col-reverse {
  	flex-direction: column-reverse;
  }

  ._grow {
  	flex-grow: 1;
  }

  ._grow-0 {
  	flex-grow: 0;
  }

  ._screen-h {
  	height: 100%;
  }

  ._w-full {
  	width: 100%;
  }

  ._h-8 {
  	height: 1.2rem;
  }

  ._h-10 {
  	height: 1.6rem;
  }

  ._h-full {
  	height: 100%;
  }

  ._pt-12 {
  	padding-top: 5rem;
  }
}
