@use 'abstracts';
@use 'components';

:root {
  --footer-bg: #fff;
  --footer-stroke: #E5E5E5;

  --footer-wrong-bg: #FFDADC;
  --footer-wrong: #EE282D;

  --footer-correct-bg: #D7FFB8;
  --footer-correct: #489D26;

  --input-card: #000;
  --input-card-fill: #fff;
  --input-card-stroke: #e5e5e5;
  --input-card-shortcut: #afafaf;
  --input-card-active-fill: #DDF4FF;
  --input-card-active-stroke: #84D8FF;

  --highlight-active: #4093DC;
  --highlight-inactive: #e0dbd8;
  --highlight-incorrect: #C13535;
  --highlight-skipped: #BABABA;

  --tooltip-bg: #fff;
  --tooltip-incorrect: #EE282D;
  --tooltip: #a6a6a6;
  --tooltip-stroke: #E5E5E5;
}