/* Reset CSS (basically) */
:root {
    --background: #fff5eb;
    --primary: #9A3433;
    --secondary: #525B32;
    --accent: #e0bd85;
    --text: #000;

    --footer-bg: #fff;
    --footer-stroke: #E5E5E5;

    --button-primary: #fefefe;
    --button-primary-fill: #42C62F;
    --button-primary-stroke: #42C62F;
    --button-primary-shadow: #38a527;

    --button-secondary: #a6a6a6;
    --button-secondary-fill: #fff;
    --button-secondary-stroke: #e1e1e1;
    --button-secondary-shadow: #e1e1e1;

    --button-inactive: #a6a6a6;
    --button-inactive-fill: #e1e1e1;

    --progress-bg: #bababa;
    --progress-value: #58CC02;
    --progress-glow: rgba(255, 255, 255, 0.2);
    --progress-complete-value: #FFC800;
    --progress-complete-glow: #FFD333;

    --highlight-active: #8abae2;
    --highlight-inactive: #e0dbd8;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: Roboto, Helvetica, "Amiri", sans-serif;
}

[lang="ar"] {
    font-family: "Amiri";
    direction: rtl;
}

[hidden] {
    visibility: none !important;
    display: none !important;
}

#error {
    color: red;
    font-weight: 800;
    font-size: 2rem;
}

.primary-bg {
    background-color: var(--primary);
    color: var(--background);
}

.secondary-bg {
    background-color: var(--secondary);
    color: var(--background);
}


.primary-fg {
    color: var(--primary);
}

.secondary-fg {
    color: var(--secondary);
}

.accent-fg {
    color: var(--accent);
}

/* =============== */
/*     CARDS       */
/* =============== */

.cards {
    display: flex;
    margin: 2rem;
    flex-wrap: wrap;
}

.card {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    text-decoration: none;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.card.big {
    height: 35rem;
    width: 25rem;
}

.card.small {
    height: 4rem;
    width: 10rem;
}

.card:hover {
    box-shadow: -10px 10px 10px 3px var(--accent);
    top: -3px;
    left: 3px;
}

.card img {
    object-fit: none;
    object-position: center;
    width: inherit;
    height: 70%;
    margin: 0;
    padding: 0;
}

.card-container {
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-title-type-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.card-type {
    color: var(--accent);
    font-size: 1.6rem;
}

.small h1 {
    margin-left: 1rem;
}
