:root {
  --page-background: #fff5eb;
  --red-100: #ffeced;
  --red-200: #ffc7c8;
  --red-300: #ff8e91;
  --red-400: #ff696c;
  --red-500: #ff4347;
  --red-600: #cc3639;
  --red-700: #af2d2c;
  --red-800: #661b1c;
  --red-900: #330d0e;
  --green-100: #d9f4d5;
  --green-200: #b3e8ac;
  --green-300: #8edd82;
  --green-400: #68d159;
  --green-500: #42c62f;
  --green-600: #359e26;
  --green-700: #216318;
  --green-800: #143b0e;
  --green-900: #071405;
  --blue-100: #d9e9f8;
  --blue-200: #c6dff5;
  --blue-300: #b3d4f1;
  --blue-400: #8cbeea;
  --blue-500: #66a9e3;
  --blue-600: #4093dc;
  --blue-700: #3376b0;
  --blue-800: #265884;
  --blue-900: #1a3b58;
  --gray-100: #e7e7e7;
  --gray-200: #cfcfcf;
  --gray-300: #b7b7b7;
  --gray-400: #9f9f9f;
  --gray-500: #878787;
  --gray-600: #6c6c6c;
  --gray-700: #515151;
  --gray-800: #363636;
  --gray-900: #1b1b1b;
  --yellow-100: #fdf8e6;
  --yellow-200: #f8e9b3;
  --yellow-300: #f3da80;
  --yellow-400: #eecb4d;
  --yellow-500: #e6b400;
  --yellow-600: #b89000;
  --yellow-700: #8a6c00;
  --yellow-800: #5c4800;
  --yellow-900: #2e2400;
}

._flex {
  display: flex !important;
}

._flex-row {
  flex-direction: row !important;
}

._flex-col {
  flex-direction: column !important;
}

._flex-row-reverse {
  flex-direction: row-reverse !important;
}

._flex-col-reverse {
  flex-direction: column-reverse !important;
}

._grow {
  flex-grow: 1 !important;
}

._grow-0 {
  flex-grow: 0 !important;
}

._screen-h {
  min-height: 100vh !important;
}

._w-1\/2 {
  width: 50% !important;
}

._w-full {
  width: 100% !important;
}

._h-1 {
  height: 0.5rem !important;
}

._h-8 {
  height: 1.2rem !important;
}

._h-10 {
  height: 1.6rem !important;
}

._h-full {
  height: 100% !important;
}

._pt-8 {
  padding-top: 1.2rem !important;
}

._pb-8 {
  padding-bottom: 1.2rem !important;
}

._pt-12 {
  padding-top: 5rem !important;
}

._mx-center {
  margin: 0 auto !important;
}

body {
  background-color: var(--page-background);
  color: black;
  font-family: Roboto, sans-serif;
  height: 100vh;
}

[lang=ar] {
  font-family: "Amiri";
  direction: rtl;
}

.nahw-button {
  --_background: var(--background, white);
  --_color: var(--color, var(--gray-500));
  --_shadow: var(--shadow, var(--gray-200));
  --_stroke: var(--stroke, var(--gray-200));
  background-color: var(--_background);
  color: var(--_color);
  box-shadow: 0 5px var(--_shadow);
  border-color: var(--_stroke);
  min-width: 100px;
  padding: 1rem 1.5rem;
  border-radius: 16px;
  border-width: thin;
  border-style: solid;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  appearance: none;
}
.nahw-button:active:not(.-inactive) {
  box-shadow: none;
  transform: translate(0, 3px);
}
.nahw-button.-primary {
  --background: var(--green-500);
  --color: white;
  --shadow: var(--green-700);
  --stroke: var(--green-500);
}
.nahw-button.-incorrect {
  --background: var(--red-500);
  --color: white;
  --shadow: var(--red-600);
  --stroke: var(--red-500);
}
.nahw-button.-inactive {
  --background: var(--gray-200);
  --color: var(--gray-700);
  --shadow: var(--gray-200);
  --stroke: var(--gray-200);
  cursor: not-allowed;
}

.nahw-footer {
  --_background: var(--background, white);
  --_text: var(--text, black);
  background: var(--_background);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 2rem;
  gap: 10rem;
  border-top: 2px solid var(--gray-100);
}
.nahw-footer.-correct {
  --background: var(--green-200);
  --text: var(--green-700);
}
.nahw-footer.-incorrect {
  --background: var(--red-200);
  --text: var(--red-600);
}

.nahw-footer > .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--_text);
  max-width: 100%;
}
.nahw-footer > .wrapper > .icon {
  border-radius: 100%;
  background-color: white;
  padding: 2rem;
}
.nahw-footer > .wrapper > .icon > svg {
  transform: scale(120%);
}
.nahw-footer > .wrapper > .text {
  max-width: 100%;
}
.nahw-footer > .wrapper > .text > .header {
  font-size: 1.5rem;
}
.nahw-footer > .wrapper > .text > .paragraph {
  font-size: 2rem;
  white-space: nowrap;
  overflow-x: scroll;
}

@media (max-width: 600px) {
  .nahw-footer {
    gap: 1rem;
    flex-direction: column;
    padding: 1rem 2rem;
  }
  .nahw-footer .icon {
    display: none;
  }
  .nahw-footer .header {
    font-size: 1rem;
  }
  .nahw-footer .paragraph {
    font-size: 1.5rem;
  }
}
.nahw-para {
  font-family: "Amiri";
  font-size: 4rem;
  overflow-y: scroll;
  padding: 2rem 6rem;
  direction: rtl;
  text-align: justify;
  flex: 1 0 0;
}

@media (max-width: 900px) {
  .nahw-para {
    font-size: 3rem;
    padding: 2rem 3rem;
  }
}
.progress-bar {
  --_background: var(--background, var(--gray-300));
  --_foreground: var(--foreground, var(--green-500));
  --_glow: var(--glow, rgba(255, 255, 255, 0.2));
  background-color: var(--_background);
  border-radius: 25px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.progress-bar > .value {
  height: 100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: var(--_foreground);
  overflow: hidden;
  position: relative;
}
.progress-bar > .value > .glow {
  position: absolute;
  top: 25%;
  width: 98%;
  left: 1%;
  height: 3px;
  background-color: var(--_glow);
  border-radius: 25px;
}

.progress-bar.-complete {
  --foreground: var(--yellow-400);
}
.progress-bar.-complete > .value {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.nahw-nav {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 0.1rem;
  background-color: var(--page-background);
  padding: 0.3rem 0;
}
.nahw-nav > progress-bar {
  flex: 1;
  height: 100%;
}

.sentence-question {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.sentence-question > .text {
  font-family: "Amiri";
  font-size: 5rem;
  direction: rtl;
  text-align: center;
  white-space: nowrap;
  overflow-x: scroll;
}
.sentence-question > .cards {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.sentence-question > .cards > .nahw-card {
  width: 12rem;
  height: 20rem;
}

@media (max-width: 600px) {
  .sentence-question > .text {
    font-size: 3rem;
  }
  .sentence-question > .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    justify-items: center;
  }
  .sentence-question > .cards > .nahw-card {
    height: 10rem;
    width: 10rem;
  }
}
.nahw-highlight {
  background-color: var(--gray-200);
}
.nahw-highlight.-active {
  background-color: var(--blue-400);
}

.nahw-card {
  --_input-card-fill: var(--input-card-fill, white);
  --_input-card-stroke: var(--input-card-stroke, var(--gray-200));
  --_input-card-shortcut: var(--input-card-shortcut, var(--gray-300));
  --_input-card-color: var(--input-card-color, black);
  background-color: var(--_input-card-fill);
  border-radius: 12px;
  border: 2px solid var(--_input-card-stroke);
  box-shadow: 0 4px var(--_input-card-stroke);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: var(--_input-card-color);
}
.nahw-card > .choice {
  font-size: 7rem;
  user-select: none;
  font-family: "Amiri";
}
.nahw-card > .shortcut {
  position: absolute;
  right: 10%;
  bottom: 2%;
  user-select: none;
  color: var(--_input-card-shortcut);
  font-weight: 800;
  font-size: 1.5rem;
}
.nahw-card.-selected {
  --input-card-fill: var(--blue-100);
  --input-card-stroke: var(--blue-400);
}
.nahw-card.-incorrect {
  --input-card-fill: var(--red-100);
  --input-card-stroke: var(--red-400);
}
.nahw-card.-correct {
  --input-card-fill: var(--green-100);
  --input-card-stroke: var(--green-400);
}
.nahw-card.-small > .shortcut {
  display: none;
}
.nahw-card.-small > .choice {
  font-size: 4rem;
}

@media (max-width: 600px) {
  .nahw-card > .shortcut {
    display: none;
  }
  .nahw-card > .choice {
    font-size: 4rem;
  }
}
:root {
  --footer-bg: #fff;
  --footer-stroke: #E5E5E5;
  --footer-wrong-bg: #FFDADC;
  --footer-wrong: #EE282D;
  --footer-correct-bg: #D7FFB8;
  --footer-correct: #489D26;
  --input-card: #000;
  --input-card-fill: #fff;
  --input-card-stroke: #e5e5e5;
  --input-card-shortcut: #afafaf;
  --input-card-active-fill: #DDF4FF;
  --input-card-active-stroke: #84D8FF;
  --highlight-active: #4093DC;
  --highlight-inactive: #e0dbd8;
  --highlight-incorrect: #C13535;
  --highlight-skipped: #BABABA;
  --tooltip-bg: #fff;
  --tooltip-incorrect: #EE282D;
  --tooltip: #a6a6a6;
  --tooltip-stroke: #E5E5E5;
}

* {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
