:root {
  --red-100: #ffeced;
  --red-200: #ffc7c8;
  --red-300: #ff8e91;
  --red-400: #ff696c;
  --red-500: #ff4347;
  --red-600: #cc3639;
  --red-700: #af2d2c;
  --red-800: #661b1c;
  --red-900: #330d0e;

  --green-100: #d9f4d5;
  --green-200: #b3e8ac;
  --green-300: #8edd82;
  --green-400: #68d159;
  --green-500: #42c62f;
  --green-600: #359e26;
  --green-700: #216318;
  --green-800: #143b0e;
  --green-900: #071405;

  --gray-100: #e7e7e7;
  --gray-200: #cfcfcf;
  --gray-300: #b7b7b7;
  --gray-400: #9f9f9f;
  --gray-500: #878787;
  --gray-600: #6c6c6c;
  --gray-700: #515151;
  --gray-800: #363636;
  --gray-900: #1b1b1b;
}