:root {
  --red-100: #ffeced;
  --red-200: #ffc7c8;
  --red-300: #ff8e91;
  --red-400: #ff696c;
  --red-500: #ff4347;
  --red-600: #cc3639;
  --red-700: #af2d2c;
  --red-800: #661b1c;
  --red-900: #330d0e;

  --green-100: #d9f4d5;
  --green-200: #b3e8ac;
  --green-300: #8edd82;
  --green-400: #68d159;
  --green-500: #42c62f;
  --green-600: #359e26;
  --green-700: #216318;
  --green-800: #143b0e;
  --green-900: #071405;

  --blue-100: #d9e9f8;
  --blue-200: #c6dff5;
  --blue-300: #b3d4f1;
  --blue-400: #8cbeea;
  --blue-500: #66a9e3;
  --blue-600: #4093dc;
  --blue-700: #3376b0;
  --blue-800: #265884;
  --blue-900: #1a3b58;

  --gray-100: #e7e7e7;
  --gray-200: #cfcfcf;
  --gray-300: #b7b7b7;
  --gray-400: #9f9f9f;
  --gray-500: #878787;
  --gray-600: #6c6c6c;
  --gray-700: #515151;
  --gray-800: #363636;
  --gray-900: #1b1b1b;

  --yellow-100: #fdf8e6;
  --yellow-200: #f8e9b3;
  --yellow-300: #f3da80;
  --yellow-400: #eecb4d;
  --yellow-500: #e6b400;
  --yellow-600: #b89000;
  --yellow-700: #8a6c00;
  --yellow-800: #5c4800;
  --yellow-900: #2e2400;
}