._flex-col {
	flex-direction: column !important;
}

._flex-row-reverse {
	flex-direction: row-reverse !important;
}

._flex-col-reverse {
	flex-direction: column-reverse !important;
}

._grow {
	flex-grow: 1 !important;
}

._grow-0 {
	flex-grow: 0 !important;
}

._screen-h {
	height: 100% !important;
}

._w-full {
	width: 100% !important;
}

._h-8 {
	height: 1.2rem !important;
}

._h-10 {
	height: 1.6rem !important;
}

._h-full {
	height: 100% !important;
}

._pt-12 {
	padding-top: 5rem !important;
}