._flex {
	display: flex !important;
}

._flex-row {
	flex-direction: row !important;
}

._flex-col {
	flex-direction: column !important;
}

._flex-row-reverse {
	flex-direction: row-reverse !important;
}

._flex-col-reverse {
	flex-direction: column-reverse !important;
}

._grow {
	flex-grow: 1 !important;
}

._grow-0 {
	flex-grow: 0 !important;
}

._screen-h {
	min-height: 100vh !important;
}

._w-1\/2 {
	width: 50% !important;
}

._w-full {
	width: 100% !important;
}

._h-1 {
	height: .5rem !important;
}

._h-8 {
	height: 1.2rem !important;
}

._h-10 {
	height: 1.6rem !important;
}

._h-full {
	height: 100% !important;
}

._pt-8 {
	padding-top: 1.2rem !important;
}

._pb-8 {
	padding-bottom: 1.2rem !important;
}

._pt-12 {
	padding-top: 5rem !important;
}

._mx-center {
	margin: 0 auto !important;
}