.nahw-para {
	font-family: "Amiri";
	font-size: 4rem;
	overflow-y: scroll;
	padding: 2rem 6rem;
	direction: rtl;
	text-align: justify;
	flex: 1 0 0;
}

@media(max-width: 900px) {
	.nahw-para {
		font-size: 3rem;
		padding: 2rem 3rem;
	}
}