.nahw-footer {
	--_background: var(--background, white);

	background: var(--_background);

	display: flex;
	align-content: center;
	justify-content: space-around;
	padding: 2rem;
	gap: 10rem;

	border-top: 2px solid var(--gray-100);

	&.-correct {}

	&.-incorrect {}
}