.quiz-sentence {
	flex: 1;
	display: flex;
	flex-direction: column;

	&__text {
		margin: 0;
		font-family: "Amiri";
		font-size: 5rem;
		direction: rtl;
		text-align: center;
		white-space: nowrap;
		overflow-x: auto;
		padding-top: 1rem;
	}

	&__cards {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}
}

@media (max-width: 600px) {
	.quiz-sentence__text {
		font-size: 3rem;
	}

	.quiz-sentence__cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 1rem;
		justify-items: center;
	}
}