.quiz-footer {
	--_background: var(--background, white);
	--_text: var(--text, black);

	background: var(--_background);

	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 3rem 2rem;
	gap: 10rem;

	border-top: 2px solid var(--gray-100);

	&--correct {
		--background: var(--green-200);
		--text: var(--green-700);
	}

	&--incorrect {
		--background: var(--red-200);
		--text: var(--red-600);
	}
}

@media (max-width: 600px) {
	.quiz-footer {
		gap: 1rem;
		flex-direction: column;
		padding: 1rem 2rem;
	}
}