.quiz-card {
  --_input-card-fill: var(--input-card-fill, white);
  --_input-card-stroke: var(--input-card-stroke, var(--gray-200));
  --_input-card-shortcut: var(--input-card-shortcut, var(--gray-300));
  --_input-card-color: var(--input-card-color, black);

  background-color: var(--_input-card-fill);
  border-radius: 12px;
  border: 2px solid var(--_input-card-stroke);
  box-shadow: 0 4px var(--_input-card-stroke);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: var(--_input-card-color);
  width: 12rem;
  height: 20rem;

  &__choice {
    font-size: 7rem;
    user-select: none;
    font-family: "Amiri";
  }

  &__shortcut {
    position: absolute;
    right: 10%;
    bottom: 2%;
    user-select: none;
    color: var(--_input-card-shortcut);
    font-weight: 800;
    font-size: 1.5rem;
  }

  &--selected {
    --input-card-fill: var(--blue-100);
    --input-card-stroke: var(--blue-400);
  }

  &--incorrect {
    --input-card-fill: var(--red-100);
    --input-card-stroke: var(--red-400);
  }

  &--correct {
    --input-card-fill: var(--green-100);
    --input-card-stroke: var(--green-400);
  }

  &--small {
    height: 10rem;
    width: 10rem;

    .quiz-card__shortcut {
      display: none;
    }

    .quiz-card__choice {
      font-size: 4rem;
    }
  }
}

@media (max-width: 600px) {

  // Equivalent to -small
  // TODO(Amr Ojjeh): Use a mixin
  .quiz-card {
    height: 10rem;
    width: 10rem;

    &__shortcut {
      display: none;
    }

    &__choice {
      font-size: 4rem;
    }
  }
}