package ui

import "github.com/amrojjeh/kalam"
import "fmt"

templ Excerpts(es []kalam.Excerpt) {
	<div class="cards">
		for i, e := range es {
			<a class="card small" href={templ.URL(fmt.Sprintf("/text/%v", i))}>
				<h1 class="card-title" lang="ar">{e.Name}</h1>
			</a>
		}
	</div>
}
