package ui

templ NahwStart(paragraph string, start templ.SafeURL) {
	<div class="_screen-h _flex _flex-col">
		@navigation("0")
		<div class="nahw-para">
			{paragraph}
		</div>
		@homeFooter(start)
	</div>
}
