package ui

templ navigation(progress string) {
	<nav class="nahw-nav _h-1 _pt-8 _pb-8 _w-1/2 _mx-center">
		<a href="/text"><img src="/static/icons/x-circle.svg" alt="close"/></a>
		<progress-bar data-value={progress}></progress-bar>
	</nav>
}
